* {
    margin: 0px;
    padding: 0px;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    width: 100%;
    height: 50px;
    padding-left: 30px;
    padding-right: 60px;
}

.header_logo{
    display: flex;
    gap: 16px;
    cursor: pointer;
}

.header_logo_text{
    color: aliceblue;
}

.header-nav{
    display: flex;
    gap: 16px;
    cursor: pointer;
}